body{
    margin: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(180, 180, 180);
    height: 100vh;
}


#display{
    width:100%;
    padding: 20px;
    background-color: #ff8484;
    border: none;
    text-align: left;
    font-size: 60px;
    color:white;
}

#calculator{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;

}
#keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(37, 36, 36);
    color: white;
    font-size: 40px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(255, 163, 163);
}
button:active{
    background-color: rgb(143, 150, 183);
}
.operator-btn{
    background-color: rgb(255, 183, 50);
}
.operator-btn:hover{
    background-color: rgb(238, 196, 129);
}
.operator-btn:active{
    background-color: rgb(78, 48, 0);
}